@model FreeFixedMatches.Models.FreeTipsDateChange

@{
    ViewBag.Title = "FreeTipsDate";
    Layout = "~/Views/Shared/_Layout.cshtml";


    if (Session["Username"] == null)
    {
        Response.Redirect("~/Login/Index");
    }
}

<h2>FreeTipsDate</h2>


@using (Html.BeginForm("FreeTipsDateChangeActionResult", "Admin"))
{
    <div class="form-group">
        @Html.LabelFor(v => v.FreeTipsDate)
        @Html.TextBoxFor(v => v.FreeTipsDate, new {@class="form-control",@id= "datepicker" })
    </div>
    <button type="submit">Update Date</button>
}

@section scripts {
    <script>
        $(document).ready(function() {
            $("#datepicker").datepicker({ dateFormat: 'dd/mm/yy'});
        });
    </script>
}