@model FreeFixedMatches.Models.NewFreeTips

@{
    ViewBag.Title = "freeTips";
    Layout = "~/Views/Shared/_Layout.cshtml";


    if (Session["Username"] == null)
    {
        Response.Redirect("~/Login/Index");
    }
}

<h2>freeTips</h2>


@using (Html.BeginForm("addFreeTips", "Admin"))
{
    <div class="form-group">
        @Html.LabelFor(f => f.freeTip)
        @Html.TextAreaFor(f => f.freeTip,new{@class="form-control"})
    </div>

    <button type="submit">Postavi</button>
}


@section scripts {
    <script>
        $(document).ready(function() {
            $("#datepicker").datepicker({ dateFormat: 'dd/mm/yy' });
            $.getJSON("/JsonFiles/FreeTips.json",
                function(data) {
                    $.each(data,
                        function(key, value) {
                            console.log("Key ->" + key + "Value -> " + value);
                        });
                });
        });
    </script>
}

