@model FreeFixedMatches.ViewModel.ViewModelData

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row align-items-center my-5">
    <div class="col-lg-7">
        <img class="img-fluid rounded mb-4 mb-lg-0" src="http://placehold.it/900x400" alt="">
    </div>
    <!-- /.col-lg-8 -->
    <div class="col-lg-5">
        <h1 class="font-weight-light">Business Name or Tagline</h1>
        <p>
            This is a template that is great for small businesses. It doesn't have too much fancy flare to it,
            but it makes a great use of the standard Bootstrap core components. Feel free to use this template
            for any project you want!
        </p>
    </div>
    <!-- /.col-md-4 -->
</div>
<div class="card text-white bg-secondary my-5 py-4 text-center">
    <div class="card-body">
        <p class="text-white m-0">
            This call to action card is a great place to showcase some important
            information or display a clever tagline!
        </p>
    </div>
</div>
<div class="row js-Offers">
</div>


<div class="card text-white bg-secondary my-5 py-4 text-center">
    <div class="card-body">
        <p class="text-white m-0">
            This call to action card is a great place to showcase some important
            information or display a clever tagline!
        </p>
    </div>
</div>

<div class="row">

    @foreach (var vip in Model.VipTickets)
    {
        <div class="col-md-3 mb-5">
            <div class="card h-100 text-center">
                <a href="#url"><img class="card-img-top" src="@vip.ImagePath" alt="@vip.Title"></a>
                <div class="card-body">
                    <h2 class="card-title">
                        <span class="fa fa-external-link mr-1"></span>
                        <a href="#url">@vip.Date</a>
                    </h2>
                </div>
            </div>
        </div>
    }
</div>

@section scripts {
    <script>
        var list = [];
        $(document).ready(function() {
            $.getJSON("/JsonFiles/vipTicketOffers.json", function(result){
                $.each(result, function(key, value){
                    list.push(value);
                    $(".js-Offers").append(
                        '<div class="col-md-6 mb-5"><div class="card h-100"><div class="card-body">'+
                        '<h2 class="card-title">' + value.Name + '</h2>'+
                        '<p class="card-text">' + value.Text +
                        '</p></div></div></div>'
                        );
                });
            });
        });

    </script>

}

