@model FreeFixedMatches.ViewModel.ViewModelData

@{
	ViewBag.Title = "Fixed matches , Offer for vip ticket with best fixed matches";
	ViewBag.Description = "Free fixed matches, Vip ticket offer with four sure fixed matches and big profit";
	Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row align-items-center my-5">
	<div class="col-lg-7">
		<img class="img-fluid rounded mb-4 mb-lg-0" src="~/Content/imgWebsite/VipTicketBanner.png" alt="banner for vip ticket for sure fixed matches offer">
	</div>
	<!-- /.col-lg-8 -->
	<div class="col-lg-5">
		<h1 class="font-weight-light">Vip ticket - <b>Fixed matches</b></h1>
		<p>
			Vip matches are composed of the main sources of <b>manipulated fixed matches</b> in Europe and in the world. 
			If you cooperate with us your profit is guaranteed.Best vip sure fixed matches tickets OFFER. 
			100% satisfaction from our customers. 
			Fortunately the work going on the right track and all of our customers are happy and completely trust us.
			If you are interested to make good betting profit, you are in right place with VIP TICKET.
		</p>
	</div>
	<!-- /.col-md-4 -->
</div>
<div class="card text-white bg-secondary my-5  text-center">
	<div class="card-body">
		<p class="text-white m-0">
			WEEKLY VIP FIXED MATCHES OFFER
		</p>
	</div>
</div>
<div class="row js-vip-offers">
</div>


<div class="card text-white bg-secondary my-5  text-center">
	<div class="card-body">
		<p class="text-white m-0">
			WHAT OUR CUSTOMERS SAYS ABOUT OUR VIP TICKET <b>SURE FIXED MATCHES</b> OFFER
		</p>
	</div>
</div>
<div class="row">
	<div class="col-md-4 mb-5">    
		<div class="card">
			<div class="card-body">
				<div class="row">
					<div class="col-md-2 d-none d-sm-block">
						<img src="/Content/imgWebsite/defFace.jpg" class="img img-rounded img-fluid" alt="customer comment about fixed matches" title="customer comment"/>
					</div>
					<div class="col-md-10">
						<p>
							<a class="float-left"><strong>Kim Gim Ghim.</strong></a>
							<span class="float-right"><i class="text-warning fa fa-star"></i></span>
							<span class="float-right"><i class="text-warning fa fa-star"></i></span>
							<span class="float-right"><i class="text-warning fa fa-star"></i></span>
							<span class="float-right"><i class="text-warning fa fa-star"></i></span>
							<span class="float-right"><i class="text-warning fa fa-star"></i></span>
						</p>
						<div class="clearfix"></div>
						<p>
							Your service is definitely the right choice for anyone seeking for real profitable fixed matches . 
							I picked up a grand total of 12k on your last picks, again great job and I will be a client for a long time. Keep up the good work!
						</p>
					
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-4 mb-5">    
		<div class="card">
			<div class="card-body">
				<div class="row">
					<div class="col-md-2 d-none d-sm-block">
						<img src="/Content/imgWebsite/defFace.jpg" class="img img-rounded img-fluid" alt="customer comment about fixed matches" title="customer comment"/>
					</div>
					<div class="col-md-10">
						<p>
							<a class="float-left"><strong>Ahmet Alifrementi</strong></a>
							<span class="float-right"><i class="text-warning fa fa-star"></i></span>
							<span class="float-right"><i class="text-warning fa fa-star"></i></span>
							<span class="float-right"><i class="text-warning fa fa-star"></i></span>
							<span class="float-right"><i class="text-warning fa fa-star"></i></span>
							<span class="float-right"><i class="text-warning fa fa-star"></i></span>
						</p>
						<div class="clearfix"></div>
						<p>
							I have to say that this is the first service of it's kind. 
							I have been betting for a lot of time and was really looking for a service with best fixed matches like this. 
							HIGH odds and very safe tips. All the best ! 
						</p>
					
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-4 mb-5">    
		<div class="card">
			<div class="card-body">
				<div class="row">
					<div class="col-md-2 d-none d-sm-block">
						<img src="/Content/imgWebsite/defFace.jpg" class="img img-rounded img-fluid" alt="customer comment about fixed matches" title="customer comment"/>
					</div>
					<div class="col-md-10">
						<p>
							<a class="float-left"><strong>Adedayo Akash</strong></a>
							<span class="float-right"><i class="text-warning fa fa-star"></i></span>
							<span class="float-right"><i class="text-warning fa fa-star"></i></span>
							<span class="float-right"><i class="text-warning fa fa-star"></i></span>
							<span class="float-right"><i class="text-warning fa fa-star"></i></span>
							<span class="float-right"><i class="text-warning fa fa-star"></i></span>
						</p>
						<div class="clearfix"></div>
						<p>
							You are very good ! I can see that there is a brilliant mind behind these fixed tips. You always get the job done and delivery weekly fixed matches 
							Thank you for this service !
						</p>
					
					</div>
				</div>
			</div>
		</div>
	</div>

</div>
<div class="card text-white bg-secondary my-5  text-center">
	<div class="card-body">
		<p class="text-white m-0">
			OUR PAST VIP TICKETS FROM OUR WEEKLY VIP TICKET FIXED MATCHES OFFER
		</p>
	</div>
</div>

<div class="row">

	@foreach (var vip in Model.VipTickets)
	{
		<div class="col-md-3 mb-5">
			<div class="card h-100 text-center">
				<img class="card-img-top" src="@vip.ImagePath" alt="@vip.Title" title="@vip.Alt">
				<div class="card-body">
					<p class="card-title vipTicketCardTextDecoration">
						@vip.Date
					</p>
				</div>
			</div>
		</div>
	}
</div>

@section scripts {
	<script>
		var list = [];
		$(document).ready(function() {
			$.getJSON("/JsonFiles/vipTicketOffers.json",
				function(data) {
					$.each(data,
						function (key, value) {
							$(".js-vip-offers").append(
								'<div class="col-md-6 mb-2">' +
								'<div class="card h-100">' +
								'<div class="card-body">' +
								'<h2 class="card-title">' + value.NameOffer +'</h2>' +
								'<p class="card-text">' + value.TextOffer +'</p>' +
								'<h5 class="card-text">Price: ' + value.PriceOffer + ' euros</h5></div></div></div>');
						});
				});
		});

	</script>

}

