<div class="row align-items-center my-5">
    <div class="col-lg-7">
        <img class="img-fluid rounded mb-4 mb-lg-0" src="~/Content/imgWebsite/MonthlyBanner.png " alt="monthly subsration offer for our daily fixed matches offer">
    </div>
    <!-- /.col-lg-8 -->
    <div class="col-lg-5">
        <h1 class="font-weight-light">Monthly subscription - <b>daily fixed matches</b></h1>
        <p>
            The <b>daily fixed matches</b> tickets are wisely created by our experienced betting experts who guarantee your success. <br />
            With the tickets for a little money you can make big profit. Our team is consisted of experienced betting experts and professionals who have 
            contacts inside the football clubs world wide, so all our tips are highly confident and 100% guaranteed. <br />
            With our cooperation your profit is guaranteed !!!<br />
            Be with us every day and together will have a good profit. <br />
        </p>
    </div>
    <!-- /.col-md-4 -->
</div>
<div class="card text-white bg-secondary my-5  text-center">
    <div class="card-body">
        <p class="text-white m-0">
            Our monthly daily fixed matches offers
        </p>
    </div>
</div>
